.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 92%;
  height: 100px;
  align-items: center;
  border-bottom: 2px solid black; /* add border style */
}

.loggedInContainer {
  display: flex;
  align-items: center;
  margin-right: 50px; /* adjust margin to match the logo margin */
}
    
.headerElements {
  width: 50%;
  align-items: center;
}

.logo {
  margin-left: 50px;
  height: 50;
  width: 50;
}

.headerWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

